<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.czh.testmodule">

    <application>
        <activity android:name=".Activity_Test" >
            <intent-filter>
                <action android:name="com.czh.testmodule" />
            </intent-filter>
        </activity>
    </application>

</manifest>